<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Flash message %>
<%- messages() %>
<% if (errors) { %> <!--EJS code block contianing "if" control to detect if an error variable exists and is not null-->
  <ul class="notice"> <!--If errors exist, create an unordered list with a class for styling-->
    <% errors.array().forEach(error => { %> <!--Treat erros variable as an array and loop through array, each individual error being sent into a callback function-->
      <li><%= error.msg %></li> <!--create a list item and display the message attached to the error element -->
<% }) %>
  </ul>
<% } %>

<p>This is an internal system only. Recipients are limted to accounts in the system.</p>

<p>All form inputs are required</p>

<!--New Message Form-->
<div class="new-message-form-container">
  <form class="new-message" action="/account/new-message" method="POST">
    <fieldset>
      <div class="new-message-form-group">
        <label class="above" for="messageToList">To:</label>
         <%- messageToSelect %>
        
        <div class="new-message-form-group">
          <label class="above" for="message_subject" >Subject:</label>
          <input type="text" id="message_subject" name="message_subject" required value="<%= locals.message_subject %>">
        </div>

        <div class="new-message-form-group">
          <label class="above" for="message_created" >Create Message:</label>
          <textarea id="message_created" name="message_created" rows="15" cols="30" required ><%= locals.message_created || '' %></textarea>
              
        

        </div>
      </div>

      <button type="submit" id="new-message-button">Send</button>
    </fieldset>
  </form>
</div>