<%# Content Heading %>
<% if (title) { %>
    <h1 class="management-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Flash message %>
<%- messages() %>
<% if (errors) { %> <!--EJS code block contianing "if" control to detect if an error variable exists and is not null-->
  <ul class="notice"> <!--If errors exist, create an unordered list with a class for styling-->
    <% errors.array().forEach(error => { %> <!--Treat erros variable as an array and loop through array, each individual error being sent into a callback function-->
      <li><%= error.msg %></li> <!--create a list item and display the message attached to the error element -->
<% }) %>
  </ul>
<% } %>

<%# Add Inventory Form %>
<div class="add-inventory-form-container">
    <form class="add-inventory" action="/inv/add-inventory" method="post"> <!--action - the path to be processed by the route. method - 'post' the manner which the data is being sent to the server-->
        <h1>ALL FIELDS ARE REQUIRED</h1>
        <fieldset>
            <div class="add-inventory-form-group">
              <label class="above" for="classificationList">Classification:</label>
              <%- classificationList %>
                 
            </div>
    
            <div class="add-inventory-form-group">
              <label class="above" for="inv-make" >Inventory Make:</label>
              <input type="text" id="inv-make" name="inv_make" required value="<%= locals.inv_make %>">
            </div>
  
            <div class="add-inventory-form-group">
              <label class="above" for="inv-model" >Inventory Model:</label>
              <input type="text" id="inv-model" name="inv_model" required value="<%= locals.inv_model %>">
            </div>
  
            <div class="add-inventory-form-group">
              <label class="above" for="inv-year" >Inventory Year:</label>
              <input type="text" id="inv-year" name="inv_year" pattern="^(19|20\d{2}$)" required value="<%= locals.inv_year %>">
            </div>

            <div class="add-inventory-form-group">
                <label class="above" for="inv-description" >Inventory Description:</label>
                <textarea id="inv-description" name="inv_description" rows="15" cols="30" required >
                    <%= locals.inv_description || '' %>
                </textarea>
              </div>

            <div class="add-inventory-form-group">
                <label class="above" for="inv-image" >Inventory Image:</label>
                <input type="text" id="inv-image" name="inv_image"  value="<%- typeof image !== 'undefined' ? image : '/images/vehicles/no-image.png' %>" required>
            </div>

            <div class="add-inventory-form-group">
                <label class="above" for="inv-thumbnail" >Inventory Thumbnail:</label>
                <input type="text" id="inv-thumbnail" name="inv_thumbnail"  value="<%-typeof image !== 'undefined' ? image : '/images/vehicles/no-image-tn.png' %>" required>
            </div>

            <div class="add-inventory-form-group">
                <label class="above" for="inv-price" >Inventory Price:</label>
                <input type="text" id="inv-price" name="inv_price"  pattern="^\d+$" required value="<%= locals.inv_price %>">
            </div>

            <div class="add-inventory-form-group">
                <label class="above" for="inv-mileage" >Inventory Mileage:</label>
                <input type="text" id="inv-mileage" name="inv_miles"  pattern="^\d+$" required value="<%= locals.inv_miles %>">
            </div>

            <div class="add-inventory-form-group">
                <label class="above" for="inv-color" >Inventory Color:</label>
                <input type="text" id="inv-color" name="inv_color"  required value="<%= locals.inv_color %>">
            </div>
  
          
            <button type="submit" id="register">Register</button>
           
        </fieldset>
        
    </form>
    </div>